<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="morningURL" value="https://www.youtube.com/watch?v=ocqgFDfq_2o" />
    <add key="eveningURL" value="https://www.youtube.com/watch?v=DouvJOVDbRw" />
    <add key="morningTime" value="07:00:00" />  
    <add key="eveningTime" value="19:00:00" />
  </appSettings>
</configuration>